doctype html
html(lang="pt-br")
  head
    title= pageTitle
  
  body

    h1 Hello guys my name is Mateus R. Ocana. <br>
      h2 And this is my first page with Jade ^^

      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, esse minima 
        adipisci culpa consequuntur incidunt enim cupiditate ipsa sint iste sapiente
        omnis animi architecto nam nisi iusto temporibus numquam. Architecto.

      // example coment 
      
      /// example end coment 